<br>
    <div class="row add-container P-2 h-100 rounded"  >
      <div class="col-lg-4"></div>
      <!-- sign in form -->
      <div class="col-lg-4  p-4 m-3 add-row rounded">
        <form class="row g-3" novalidate #addAuthorForm="ngForm" (ngSubmit)="addAuthorForm.form.valid && AddAuthor()" enctype="multipart/form-data">   
            <span id="addAlertMsg"></span> 
            <div class="col-md-12">
                <label for="addName" class="form-label">Name</label><label class="form-label text-danger">&nbsp;* </label>
                <span *ngIf="(name.invalid && (name.dirty || name.touched|| submitted))" class='balloonError'>
                    <div *ngIf="name.errors?.required" >
                        <p>Author name is required</p>
                      </div>
                      <div *ngIf="name.errors?.minlength">
                        <p>Title must be at least 4 characters long.</p>
                      </div>
                </span>
               <input type="text" class="form-control" name="b_title" id="addTitle" #name="ngModel"  placeholder="Enter the Author Name" minlength="4" [(ngModel)]="AuthorItem.authorname" required> 
            </div>

            <div class="col-md-12">
                <label for="addnationality" class="form-label">Nationality</label><label class="form-label text-danger">&nbsp;* </label>
                <span *ngIf="(nationality.invalid && (nationality.dirty || nationality.touched|| submitted))" class='balloonError'>
                    <div *ngIf="nationality.errors?.required" >
                        <p>Nationality is required</p>
                      </div>
                      <div *ngIf="nationality.errors?.minlength">
                        <p>Author must be at least 4 characters long.</p>
                      </div>
                </span>
                <input type="text" class="form-control" name="b_author"  id="addNatinality" placeholder="Enter the Nationality" minlength="4" #nationality="ngModel" [(ngModel)]="AuthorItem.nationality" required>
            </div>
            <div class="col-md-12">
                <label for="addworks" class="form-label">Works</label><label class="form-label text-danger">&nbsp;* </label>
                <span *ngIf="(works.invalid && (works.dirty || works.touched|| submitted))" class='balloonError'>
                    <div *ngIf="works.errors?.required" >
                        <p>Works is required</p>
                      </div>
                      <div *ngIf="works.errors?.minlength">
                        <p>Genre must be at least 4 characters long.</p>
                      </div>
                </span>
                <input type="text" class="form-control" name="b_genre" id="addGenre" placeholder="Enter the Works" minlength="4" #works="ngModel"  [(ngModel)]="AuthorItem.works" required>
            </div>
            <div class="col-md-12">
                <label for="addDesc" class="form-label">Career</label>
                <span id="addDescSpan"></span>
                <textarea class="form-control" id="addDesc" name="b_desc" rows="3"  [(ngModel)]="AuthorItem.career"></textarea>
            </div>
            <div class="col-md-12">
                <label for="addImage" class="form-label">Image</label><label class="form-label text-danger">&nbsp;* </label>
                <span *ngIf="(image.invalid && (image.dirty || image.touched|| submitted))" class='balloonError'>
                    <div *ngIf="image.errors?.required" >
                        <p>Image is required</p>
                      </div>
                </span>
                <input type="file" class="form-control" id="AddAuthorImage"  name="b_image" (change)="selectImage($event)" [(ngModel)]="AuthorItem.image" #image="ngModel"  required/>
            </div>
            <div class="form-group col-md-11 d-grid p-3 text-center">
                <button type="submit" class="btn btn-primary " (mousedown)="submitted=true" >Add Author</button>
            </div>
        </form> 
      </div>
      <div class="col-lg-2"></div>
    </div>
