    <br>
    <div class=" container-fluid  navbar-dark navbar-color h-10" style="font-family: Georgia, 'Times New Roman', Times, serif;">
      <p class="text-center text-white">All rights reserved © Library App 2021</p> 
      <div class="row float-left">
        <div class="col-lg-4"></div>
        <div class="col-lg-6 my-auto">
          <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">              
                <div class="navbar-nav mx-0">
  
                  <h3 class="footer-follow-text text-white" >&nbsp;&nbsp;&nbsp;&nbsp;Follow Us &nbsp;</h3>
                  <a href="#" target="_blank"><img class="home-ft-height" src="/assets/images/yt.jpg" alt="Home"></a>
                  <a href="#" target="_blank"><img class="home-ft-height" src="assets/images/facebook.png" alt="Home"></a>
                  <a href="#" target="_blank"><img class="home-ft-height" src="assets/images/twitter.png" alt="Home"></a>
                  <a href="#" target="_blank"><img class="home-ft-height" src="assets/images/instagram-128.jpg" alt="Home"></a>
                  <a href="#" target="_blank"><img class="home-ft-height" src="assets/images/in.png" alt="Home"></a>
                </div>
            </div>
            </div>
          </nav>
        </div>
      </div>
    </div>