 <br>
 <div class="container-fluid home-exp-container-bg p-2">
      <h3 class="card-title text-center home-exp-title">Top Rated in Fiction Books</h3> 
      <div class="rows">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 item">
                    <div class="box" style="background-image: url('assets/images/ShadesofGreyCoverArt.jpg'); height: 30rem; width :100%;">
                      <div class="cover" style="background-color: #A5D6A7;">
                        <h3 class="name text-center home-exp-card-title">Shades of Gray</h3>
                        <p class="description">21-year-old Anastasia "Ana" Steele is an English literature major at Washington State University's satellite campus near Vancouver, Washington. When her roommate, Kate Kavanagh, becomes ill and is unable to interview Christian Grey, a 27-year-old billionaire entrepreneur, for the college newspaper, Ana agrees to go in and takes her place. At Christian's Seattle headquarters Ana stumbles her way through the meeting.</p>
                        </div>
                   </div>
                 </div>
            <div class="col-lg-3 item">
              <div class="box" style="background-image: url('assets/images/All_the_Light_We_Cannot_See_(Doerr_novel).png'); height: 30rem; width :100%;">
                <div class="cover" style="background-color: #BCAAA4">
                  <h3 class="name text-center home-exp-card-title">All the Light We Cannot See</h3>
                  <p class="description">In 1934, Marie-Laure LeBlanc is a six-year-old blind girl living in Paris with her father, the master locksmith at the Museum of Natural History in Paris. She hears stories of the purported Sea of Flames hidden within the museum, which is said to grant immortality at the cost of endless misfortune to those around the owner. Allegedly, the only way to end the curse is to return the stone to the ocean, its rightful owner.<br>
                   </p>
                 </div>
             </div>
           </div>
           <div class="col-lg-3 item">
            <div class="box" style="background-image: url('assets/images/manjuveil.png'); height: 30rem; width :100%;">
              <div class="cover" style="background-color: #FFCC80">
                <h3 class="name text-center home-exp-card-title">മഞ്ഞവെയില്‍ മരണങ്ങള്‍</h3>
                <p class="description">Manjaveyil Maranangal is a crime thriller which is set in the small island of Diego Garcia. It narrates the life of 'Christie Andrapper' who witnesses the murder of an old friend.</p>
            </div>
           </div>
         </div>
         <div class="col-lg-3 item">
            <div class="box" style="background-image: url('assets/images/TheAlchemist.jpg'); height: 30rem; width :100%;">
              <div class="cover" style="background-color: #dda9d2">
                <h3 class="name text-center home-exp-card-title">The Alchemist</h3>
                <p class="description">The Alchemist follows the journey of an Andalusian shepherd boy named Santiago. Believing a recurring dream to be prophetic, he asks a Gypsy fortune teller in the nearby town about its meaning. The woman interprets the dream as a prophecy telling the boy that he will discover a treasure at the Egyptian pyramids.</p>
            </div>
           </div>
         </div>
         </div>
          <!-- card set 1 ends -->
      </div>
      </div>
</div>
<br>
<div class="container-fluid home-exp-container-bg-1 p-2">
    <h3 class="card-title text-center home-exp-title-1">Top Rated in Non-Fiction Books</h3> 
    <div class="rows">
      <div class="container">
          <div class="row">
            <div class="col-lg-3 item">
             <div class="box" style="background-image: url('assets/images/anne-frank.png'); height: 30rem; width :100%;">
               <div class="cover" style="background-color: #A5D6A7;">
                 <h3 class="name text-center home-exp-card-title">The Diary of a Young Girl</h3>
                 <p class="description">In 1942, with the Nazis occupying Holland, a thirteen-year-old Jewish girl and her family fled their home in Amsterdam and went into hiding. For the next two years, until their whereabouts were betrayed to the Gestapo, the Franks and another family lived cloistered in the “Secret Annexe” of an old office building. </p>
                 </div>
            </div>
          </div>
          <div class="col-lg-3 item">
            <div class="box" style="background-image: url('assets/images/coldblood.png'); height: 30rem; width :100%;">
              <div class="cover" style="background-color: #BCAAA4">
                <h3 class="name text-center home-exp-card-title">In Cold Blood</h3>
                <p class="description">On November 15, 1959, in the small town of Holcomb, Kansas, four members of the Clutter family were savagely murdered by blasts from a shotgun held a few inches from their faces. There was no apparent motive for the crime, and there were almost no clues.</p>
               </div>
           </div>
         </div>
         <div class="col-lg-3 item">
          <div class="box" style="background-image: url('assets/images/Hiroshima.png'); height: 30rem; width :100%;">
            <div class="cover" style="background-color: #FFCC80">
              <h3 class="name text-center home-exp-card-title">Hiroshima</h3>
              <p class="description">On August 6, 1945, Hiroshima was destroyed by the first atom bomb ever dropped on a city. This book, John Hersey's journalistic masterpiece, tells what happened on that day. Told through the memories of survivors, this timeless, powerful and compassionate document has become a classic "that stirs the conscience of humanity" (The New York Times).</p>
          </div>
         </div>
       </div>
       <div class="col-lg-3 item">
          <div class="box" style="background-image: url('assets/images/feminist.png'); height: 30rem; width :100%;">
            <div class="cover" style="background-color: #dda9d2">
              <h3 class="name text-center home-exp-card-title">We Should All Be Feminists</h3>
              <p class="description">In this personal, eloquently-argued essay—adapted from the much-admired TEDx talk of the same name—Chimamanda Ngozi Adichie offers readers a unique definition of feminism for the twenty-first century, one rooted in inclusion and awareness.</p>
          </div>
         </div>
       </div>
       </div>
        <!-- card set 1 ends -->
    </div>
    </div>
</div>
