<br>
<span ><div style ='color: #311B92;  padding:5px;'><h3 style=" text-align: center; font-family : cursive;">{{alertMsg}}</h3></div></span>
<div *ngFor ="let book of booksdata">
    <div class="card mb-3 card-block card-outline-primary " style="max-width: 100%; border: #311B92 solid 1px;">
      <div class="row g-0 " >
        <div class="col-md-4">
          <img
            src="assets/images/{{book.image}}"
            alt="..."
            class="img-fluid  p-2"
            style="width:300px;height:300px"
          />
        </div>
        <div class="col-md-8" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
          <div class="card-body ">
            <h5 class="card-title  " style="color: #311B92; font-family: fantasy;">{{book.title}}</h5>
            <p class="card-text text-muted ">{{book.author}} </p>
            <p class="card-text text-muted ">{{book.genre}}  </p>
            <p class="card-text text-muted">
                <small >{{book.description}}</small>
              </p>
            <div class="card-body text-end">
              <button class="btn btn-success float-right text-center" *ngIf="_auth.loggedIn()" (click)="editBook(book)" >&nbsp; &nbsp;Edit &nbsp;</button>&nbsp;
              <button class="btn btn-danger float-right text-center" *ngIf="_auth.loggedIn()" (click)="deleteBook(book)" >&nbsp; Delete &nbsp;</button>&nbsp;
              <button class="btn btn-warning float-right text-center"  (click)="getBook(book)" >Read More</button>
            </div>
          </div>
        </div>
      </div>    
    </div>
    <br>
  </div>

