<nav class="navbar navbar-expand-lg navbar-dark navbar-color" (focusin)='getloguser()'>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
      <ul class=" nav navbar-nav" style="font-family: Georgia, 'Times New Roman', Times, serif;">
          <a class="nav-link "  routerLink="/" (focusin)='getloguser()'><b>Home</b></a>
          <a class="nav-link "  routerLink="/books" (focusin)='getloguser()'><b>Books</b></a>
          <a class="nav-link " *ngIf="_auth.loggedIn()"  routerLink="/addbook" (focusin)='getloguser()'><b>Add Book</b></a>
          <a class="nav-link "  routerLink="/authors" (focusin)='getloguser()'><b>Authors</b></a>
          <a class="nav-link " *ngIf="_auth.loggedIn()"  routerLink="/addauthor" (focusin)='getloguser()'><b>Add Author</b></a>
      </ul>
  
      <ul class="nav navbar-right navbar-nav ms-auto" style="font-family: Georgia, 'Times New Roman', Times, serif;">
        <a class="nav-link " *ngIf="_auth.loggedIn()" (focusin)='getloguser()' ><b>Logged User : {{loggedUser}}</b></a>
        <a class="nav-link " *ngIf="!_auth.loggedIn()" routerLink="/login" (focusin)='getloguser()'><b>Login</b></a>
        <a class="nav-link " *ngIf="!_auth.loggedIn()" routerLink="/signup" (focusin)='getloguser()'><b>Sign Up</b></a>
        <a class="nav-link " *ngIf="_auth.loggedIn()"  (click)="logoutUser()" ><b>Logout</b></a>
      </ul>
    </div>
  </nav> 
